.dvds-page {

	.panel-heading {
		padding: 20px 15px;

		.dvd-filters {
	    position: relative;
    	top: -9px;
		}
	}

	.dvds-holder {
		.dvd-container {
			margin-bottom: 20px;
		}

		.basket-change {
			display: block;
			margin-top: 20px;
		}
	}

	.pagination {
		width: 100%;
		li {
			&:nth-child(2) {
			float: right;
		}
		}
		
	}
}

.basket-page {
	.basket-change {
		display: block;
		margin-top: 20px;
	}

	.total-price {
		margin-left: 20px;
		margin-top: 20px;
		font-size: 20px;
	}
}

.admin-page {
	button {
 	 	padding: 45px;
  	font-size: 23px;
	}
}

.admin-create-page, .admin-edit-page {
	.genre {
		label {
			display: block;
		}

		.genre-checkbox {
	    font-size: 20px;
	    span {
	    	margin-right: 10px;
	    }
		}
	}

	.price {
		label {
			display: block;
		}
	}

	.form-submit {
		margin-bottom: 36px;
	}

	.error-message {
		position: relative;
		top: 15px;
		color: red;
	}
}

.admin-edit-page-all {
	a {
		h1, p {
			color: #636b6f;
		}
	}
}

.admin-edit-page {
	img {
		max-width: 250px;
	}
}

.admin-genre-page, .admin-price-page {
	.panel-body {
		margin-top: 15px;

		form .col-xs-12 {
			margin-bottom: 40px;
		}

		.individual-genre-container, .individual-price-container {
			margin-bottom: 20px;

			button {
				padding: 6px 16px;
			}

			.updated {
				padding-left: 15px;
				margin-bottom: 0px;
			}
		}
	}
}

.float-right {
	float: right!important;
}

.margin-top-20 {
	margin-top: 20px;
}
