.dvds-page .panel-heading {
  padding: 20px 15px; }
  .dvds-page .panel-heading .dvd-filters {
    position: relative;
    top: -9px; }
.dvds-page .dvds-holder .dvd-container {
  margin-bottom: 20px; }
.dvds-page .dvds-holder .basket-change {
  display: block;
  margin-top: 20px; }
.dvds-page .pagination {
  width: 100%; }
  .dvds-page .pagination li:nth-child(2) {
    float: right; }

.basket-page .basket-change {
  display: block;
  margin-top: 20px; }
.basket-page .total-price {
  margin-left: 20px;
  margin-top: 20px;
  font-size: 20px; }

.admin-page button {
  padding: 45px;
  font-size: 23px; }

.admin-create-page .genre label, .admin-edit-page .genre label {
  display: block; }
.admin-create-page .genre .genre-checkbox, .admin-edit-page .genre .genre-checkbox {
  font-size: 20px; }
  .admin-create-page .genre .genre-checkbox span, .admin-edit-page .genre .genre-checkbox span {
    margin-right: 10px; }
.admin-create-page .price label, .admin-edit-page .price label {
  display: block; }
.admin-create-page .form-submit, .admin-edit-page .form-submit {
  margin-bottom: 36px; }
.admin-create-page .error-message, .admin-edit-page .error-message {
  position: relative;
  top: 15px;
  color: red; }

.admin-edit-page-all a h1, .admin-edit-page-all a p {
  color: #636b6f; }

.admin-edit-page img {
  max-width: 250px; }

.admin-genre-page .panel-body, .admin-price-page .panel-body {
  margin-top: 15px; }
  .admin-genre-page .panel-body form .col-xs-12, .admin-price-page .panel-body form .col-xs-12 {
    margin-bottom: 40px; }
  .admin-genre-page .panel-body .individual-genre-container, .admin-genre-page .panel-body .individual-price-container, .admin-price-page .panel-body .individual-genre-container, .admin-price-page .panel-body .individual-price-container {
    margin-bottom: 20px; }
    .admin-genre-page .panel-body .individual-genre-container button, .admin-genre-page .panel-body .individual-price-container button, .admin-price-page .panel-body .individual-genre-container button, .admin-price-page .panel-body .individual-price-container button {
      padding: 6px 16px; }
    .admin-genre-page .panel-body .individual-genre-container .updated, .admin-genre-page .panel-body .individual-price-container .updated, .admin-price-page .panel-body .individual-genre-container .updated, .admin-price-page .panel-body .individual-price-container .updated {
      padding-left: 15px;
      margin-bottom: 0px; }

.float-right {
  float: right !important; }

.margin-top-20 {
  margin-top: 20px; }

/*# sourceMappingURL=index.css.map */
